.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.auth-inner {
  padding: 20px;
  min-width: 300px;
  background-color: #ebc855;
  border: 1px solid #9c7906;
  border-radius: 10px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  height: 20px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-radio-label {
  margin-left: 10px;
}

.form-radio-input {
  margin-right: 10px;
}


.btn {
  height: 40px;
  padding: 10px 20px;
  border: 1px solid #9c5906;
  border-radius: 5px;
  background-color: #eec642;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  color: #1a1403;
}

.btn:hover {
  background-color: #ffdb7d;
}

.btn:active {
  background-color: #ffdb7d;
  border: 2px solid #9c7906;
}